html {
  box-sizing: border-box;
}

*,
*::befor,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
  margin: 0px;
<<<<<<< HEAD
}
=======
}
>>>>>>> d2ba19f7069584556b4ec8843c4e66f57cc579d9
