// colors
$primary: #111518;
$accent: #ff6b09;
$secondary: #b9b9b9;
//utils
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  outline-color: $accent;
}
body,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
svg {
  display: block;
}
//styles
.how {
  font-family: 'Montsserat', sans-serif;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  text-align: center;
  color: $primary;
  background-color: #fefefe;
  div {
    padding: 0 10px 0;
    max-width: 1314px;
  }
  ul {
    list-style: none;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media screen and (min-width: 1314px) {
    }
  }
  li {
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 0;
    max-width: 280px;
    min-height: 280px;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    &:hover,
    &:focus {
      background-color: $accent;
    }
    &:hover h3,
    &:focus h3,
    &:hover p,
    &:focus p {
      color: white;
    }
    &:hover svg,
    &:focus svg {
      fill: white;
    }
    @media screen and (max-width: 768px - 1px) {
      & + li {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
      }
    }
    @media screen and (min-width: 768px) {
      padding: 40px 15px 0;
      flex: 0 0 calc(50% - 10px);
    }
    @media screen and (min-width: 768px) and (max-width: 1314px - 1px) {
      &:nth-child(n + 3) {
        margin-top: 27px;
      }
    }
    @media screen and (min-width: 1314px) {
      padding: 40px 30px 0;
      &:nth-child(n + 4) {
        margin-top: 20px;
      }
    }
  }
  h2 {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
    @media screen and (min-width: 1314px) {
      margin-bottom: 50px;
      font-size: 46px;
      text-align: start;
    }
  }
  h3 {
    margin: 20px 0 15px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700;
    @media screen and (min-width: 768px) {
      margin: 30px 0 25px;
    }
    @media screen and (min-width: 1314px) {
      margin: 30px 0 15px;
      font-size: 20px;
    }
  }
  p {
    margin-top: 15px;
    font-weight: 500;
    color: $secondary;
    @media screen and (min-width: 768px) {
      margin-top: 25px;
    }
    @media screen and (min-width: 1314px) {
      margin-top: 15px;
      font-size: 18px;
    }
  }
  svg {
    margin-left: auto;
    margin-right: auto;
    fill: $accent;
  }
}
