// // colors
// $primery-text-color: #b9b9b9;
// $accent-color: #ff6b09;
// $white-text-color: #ffffff;
// $dark-bgc: #111518;
//utils
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1314px) {
    width: 1314px;
  }
}

//styles
// 320, 768, 1314
// @media screen and (max-width: 320px) {

// }
// @media screen and (max-width: 768px) {

// }

// @media screen and (max-width: 1314px) {

// }

// body {
//   background-color: rgba(199, 113, 139, 0.9);
// }

.wpapper {
  background-color: $dark-bgc;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:1314px) {
    max-width: 1680px;
  }
  // @media screen and (min-width: 320px) {
  //   width: 320px;
  // }
  // @media screen and (min-width: 768px) {
  //   width: 768px;
  // }
  // @media screen and (min-width: 1314px) {
  //   width: 1680px;
  // }
}

.item-title-h4 {
  color: $accent-color;
}

.programe {
  &-wrapper {
    position: relative;
    background-color: $dark-bgc;

    &.big-line::before {
      @media screen and(min-width:1314px) {
        content: '';
        width: 2px;
        height: 2000px;
        background-color: $white-text-color;
        position: absolute;
        transform: rotate(90deg);
        top: -694px;
        left: 798px;
      }
    }
  }

  &-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;

    padding-top: 50px;
    margin-bottom: 43px;

    color: $white-text-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 52px;
      text-align: left;
      margin-left: 40px;
    }

    @media screen and (min-width: 1314px) {
      font-size: 46px;
      margin-left: 0px;
      padding-top: 128px;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 105px;

    @media screen and (min-width: 768px) {
      align-items: flex-start;
    }
    @media screen and (min-width: 1314px) {
      flex-direction: row;
      margin-left: 0px;
      margin-top: 160px;
    }

    .white-line::before {
      @media screen and(max-width:1313px) {
        content: '';
        width: 2px;
        height: calc(100% + 35px);
        background-color: $white-text-color;
        position: absolute;
        left: -27px;
        top: 10px;
      }

      @media screen and (min-width: 768px) {
        left: -50px;
      }
    }
  }

  &-item {
    position: relative;
    width: 171px;
    margin-bottom: 30px;

    @media screen and (min-width: 1314px) {
      width: 240px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    .item-title {
      margin-bottom: 5px;

      text-align: left;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 2;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: $white-text-color;
      @media screen and (min-width: 1314px) {
        font-size: 20px;
      }
    }

    .item-title::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 8px;
      left: -20px;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      transform: translate(-100%);
      background-color: #ff6b09;

      @media screen and (min-width: 768px) {
        left: -43px;
      }
      @media screen and (min-width: 1314px) {
        top: -50px;
        left: 8px;
        width: 16px;
        height: 16px;
      }
    }

    p {
      text-align: left;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.67;
      letter-spacing: 0.08em;
      opacity: 0.5;
      margin-bottom: 8px;

      color: $primery-text-color;
      @media screen and (min-width: 1314px) {
        font-size: 18px;
        margin-bottom: 25px;
      }
    }

    .item-title-h4 {
      text-align: left;
      margin-bottom: 5px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 1.64;
      letter-spacing: 0.08em;

      @media screen and (min-width: 1314px) {
        font-size: 20px;
      }
    }
  }

  &-item:last-child {
    padding-bottom: 535px;

    @media screen and (min-width: 1314px) {
      padding-bottom: 749px;
    }
  }
}

.option-wrap {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
  }
  li:not(:last-child) {
    width: 176px;
    margin-right: 50px;
  }
  @media screen and (min-width: 1314px) {
    display: block;
  }
}

// .line-wrap {
//   position: relative;
// }

// .line {
//   height: 2px;
//   width: 900px;
//   background-color: $white-text-color;
//   position: absolute;
//   top: 464px;
//   left: -382px;
//   transform: rotate(90deg);
// }

.benefits {
  position: relative;

  &-title {
    width: 150px;

    margin-bottom: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: #111518;

    @media screen and (min-width: 768px) {
      width: 300px;
    }
    @media screen and (min-width: 1314px) {
      display: none;
    }
  }

  &-item {
    margin: 20px 14px 20px 30px;

    @media screen and (min-width: 768px) {
      & {
        margin-top: 30px;
        margin-bottom: 0;
      }

      &:nth-child(odd) {
        margin-left: 98px;
        margin-right: 20px;
      }
      &:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 65px;
      }
    }
    @media screen and (min-width: 1314px) {
      &:nth-child(odd) {
        margin-left: 0px;
        margin-right: 0px;
      }
      &:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  &-item:first-child {
    padding-top: 20px;
    @media screen and (min-width: 768px) {
      & {
        padding-top: 0;
      }
    }
  }

  &-item {
    @media screen and (min-width: 1314px) {
      width: calc((100% - 6 * 2px) / 3);
      margin-right: 40px;
    }
  }

  &-list {
    background-color: white;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1314px) {
      padding-left: 84px;
    }
  }

  // &-list:first-child {
  //     @media screen and (min-width: 1314px) {
  //       margin-left: 84px;
  //     }
  //   }

  &-item-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.64;
    // align-items: center;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
    color: #ff6b09;
    @media screen and (min-width: 1314px) {
      font-size: 20px;
    }
  }

  p {
    margin-bottom: 20px;
    width: 236px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.43;
    // align-items: center;
    letter-spacing: 0.08em;

    color: $dark-bgc;

    @media screen and (min-width: 1314px) {
      font-size: 20px;
      width: 356px;
    }
  }
}
.window-wrap {
  position: absolute;
  top: -490px;
  left: 50%;

  transform: translate(-50%);

  @media screen and (min-width: 768px) {
    width: 688px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1314px) {
    width: 1314px;
    top: -180px;
    left: 50%;
    transform: translate(-50%);
  }
}
