@mixin bg-image($path: '', $size: cover, $repeat: no-repeat, $pos: center) {
  background-image: url($path);
  background-size: $size;
  background-repeat: $repeat;
  background-position: $pos;
}

@mixin bg-gradient-image(
  $grad: '',
  $path: '',
  $size: cover,
  $repeat: no-repeat,
  $pos: center
) {
  background: $grad, url($path);
  background-size: $size;
  background-repeat: $repeat;
  background-position: $pos;
}

@mixin center-flex($type: 'all') {
  display: flex;

  @if $type== 'all' {
    justify-content: center;
    align-items: center;
  } @else if $type== 'hor' {
    justify-content: center;
  } @else if $type== 'ver' {
    align-items: center;
  }
}

@mixin font-settings($size: 14px, $height: 1.2, $weight: 400, $color: #ffffff) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}
