.teacher {
  @media screen and (max-width: $mobile-bp-max) {
    padding: 250px 21px 28px;
  }

  @media screen and (min-width: $tablet-bp-min) {
    padding: 240px 0 33px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    padding: 104px 0 50px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    padding: 326px 0 74px;
  }
}

.teacher__title {
  @media screen and (max-width: $mobile-bp-max) {
    margin-bottom: 28px;
  }

  @media screen and (min-width: $tablet-bp-min) {
    margin-bottom: 38px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    margin-bottom: 78px;
  }
}

.teacher-wrapper {
  @media screen and (min-width: $tablet-bp-min) {
    display: flex;
    justify-content: flex-start;
  }
}

.teacher__name {
  @media screen and (min-width: $tablet-bp-min) {
    margin-right: 46px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    margin-right: 86px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    margin-right: 92px;
  }
}

.teacher__img {
  display: block;
  transition: all 2s ease;

  @media screen and (min-width: $tablet-bp-min) {
    width: 246px;
    height: 320px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    width: 492px;
    height: 644px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
  }
}

.teacher-about {
  @media screen and (max-width: $mobile-bp-max) {
    margin-top: 26px;
  }

  @media screen and (min-width: $tablet-bp-min) {
    width: 396px;
    font-size: 29px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    width: 610px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    width: 650px;
  }
}

.teacher-about__name {
  font-family: $main-font-family;
  color: $sixth-font-color;
  font-weight: bold;

  @media screen and (max-width: $mobile-bp-max) {
    font-size: 16px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: $tablet-bp-min) {
    font-size: 20px;
    margin-bottom: 15px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    font-size: 29px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    font-size: 29px;
    margin-bottom: 20px;
  }
}

.teacher-about__name::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: $fourth-background-color;
  opacity: 0.38;

  @media screen and (max-width: $mobile-bp-max) {
    margin-top: 10px;
    margin-bottom: 26px;
  }

  @media screen and (min-width: $tablet-bp-min) {
    margin-top: 16px;
    margin-bottom: 26px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    margin-top: 16px;
    margin-bottom: 42px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    margin-top: 16px;
    margin-bottom: 42px;
  }
}

.teacher-about__experience {
  font-family: $main-font-family;
  color: $sixth-font-color;
  font-weight: bold;

  @media screen and (max-width: $mobile-bp-max) {
    margin-bottom: 20px;
    font-size: 13px;
  }

  @media screen and (min-width: $tablet-bp-min) {
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 1.538;
  }

  @media screen and (min-width: $desktop-bp-min) {
    margin-bottom: 40px;
    font-size: 16.667px;
    line-height: 1.75;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    margin-bottom: 40px;
    font-size: 16.667px;
    line-height: 1.75;
  }
}

.teacher-about__experience::after {
  display: block;
  content: '';
  width: 25px;
  height: 2px;
  background-color: $main-color;
  margin-top: 22px;

  @media screen and (min-width: $desktop-bp-min) {
    margin-bottom: 36px;
  }
}

.icon-list {
  list-style: none;
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    background-image: url(../images/teacher/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0px;
    top: 0px;
    fill: $second-font-color;
  }
}

.teacher-about__experience-item {
  padding-left: 18px;

  &:not(:last-child) {
    @media screen and (max-width: $mobile-bp-max) {
      margin-bottom: 22px;
    }

    @media screen and (min-width: $tablet-bp-min) {
      margin-bottom: 26px;
    }

    @media screen and (min-width: $desktop-bp-min) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $ladge-desktop-bp-min) {
      margin-bottom: 30px;
    }
  }
}

.teacher-about__experience-text {
  font-family: $main-font-family;
  color: $sixth-font-color;
  font-weight: bold;
  padding-left: 20px;

  @media screen and (max-width: $mobile-bp-max) {
    font-size: 13px;
    line-height: 1.538;
  }

  @media screen and (min-width: $tablet-bp-min) {
    font-size: 13px;
    line-height: 1.538;
  }

  @media screen and (min-width: $desktop-bp-min) {
    font-size: 16.667px;
    line-height: 1.75;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    font-size: 16.667px;
    line-height: 1.75;
  }
}

.teacher-about__biography-text {
  font-family: $main-font-family;
  color: $seventh-font-color;

  @media screen and (max-width: $mobile-bp-max) {
    font-size: 11px;
    line-height: 1.8;
    margin-bottom: 25px;
  }

  @media screen and (min-width: $tablet-bp-min) {
    font-size: 11px;
    line-height: 1.8;
    margin-bottom: 27px;
  }

  @media screen and (min-width: $desktop-bp-min) {
    font-size: 16.667px;
    line-height: 1.75;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    font-size: 16.667px;
    line-height: 1.75;
    margin-bottom: 38px;
  }
}

.teacher-about__certificate {
  display: block;
  font-family: $main-font-family;
  color: $second-font-color;
  text-decoration: underline;

  @media screen and (max-width: $mobile-bp-max) {
    font-size: 11px;
    line-height: 2.652;
  }

  @media screen and (min-width: $tablet-bp-min) {
    font-size: 11px;
    line-height: 2.652;
  }

  @media screen and (min-width: $desktop-bp-min) {
    font-size: 16.667px;
    line-height: 1.75;
  }

  @media screen and (min-width: $ladge-desktop-bp-min) {
    font-size: 16.667px;
    line-height: 1.75;
  }
}
