<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заголовок страницы</title>
</head>

<body>

    

    <!--page-header-->
    <header class="header">
       <div class="container">
            <nav>
                <a class="logo" href="#">
                    <img src="../src/images/logopage.png" alt="logo" width="80" height="28.5">
                </a>
                <button><img src=""> </button>
                <div>
                    <ul>
                        <li>
                            <a>Программа обучения</a>
                        </li>
                        <li>
                            <a>О нас</a>
                        </li>
                        <li>
                            <a>Варианты обучения</a>
                        </li>
                        <li>
                            <a>Контакты</a>
                        </li>
                   </ul>
                </div>
            </nav>
       
            <section class="header-section">
                <div class="header__block">
                    <h2 class="header__title">
                        Комплексная<br />
                        подготовка к ВНО<br />
                        по английскому языку
                    </h2>
                    <p class="header-slogan">Просто не будет.<br />
                        <span class="header-subtitle">Но ты гарантировано наберешь</span><br />
                        <span class="header-subtitle-item">+25 баллов</span>
                    </p>
                    <a class="header__button" href="#footer">хочу на бесплатное занятие</a>
                </div>
                <img src="../images/pagemain.jpg" alt="" width="208" height="177">
            </section>
            <ul class="header-skills">
                <li class="header-skills__item icons1">
                   
                    <h3 header-skills__title>
                        Адаптированная авторская программа ВНО
                    </h3>
                </li>
                <li class="header-skills__item icons2">
                    <h3 header-skills__title>
                        Современные методики обучения
                    </h3>
                </li class="header-skills__item icons3">
                <li>
                    <h3 header-skills__title>
                        Финансовая гарантия результата
                    </h3>
                </li>
            </ul>
         
        </div>
    </header>
    

    <!-- Скрипт идёт последним в разметке. В нём уже подключен главный SASS-файл. -->
    <script src="./index.js"></script>
</body>

</html>