<section>
  <div class="container programe-wrapper">
    <h2 class="programe-title">Наша програма</h2>

    <ul class="programe-list list ">
      <li class="programe-item">
        <h3 class="item-title">1 семестр</h3>
        <h4 class="item-title-h4" >— Grammar</h4>
        <p>
          Nouns & Articles <br />
          Adjectives & Adverb
        </p>
        <h4>— Vocabulary</h4>
        <p>
          Family & Relations <br />
          People & Society
        </p>
    </li>

      <li class="programe-item">
        <h3 class="item-title">2 семестр</h3>
        <h4 class="item-title-h4">— Grammar</h4>
        <p>
          Pronouns<br />
          Active Voice<br />
          Passive Voice <br />
        </p>
        <h4 class="item-title-h4">— Vocabulary</h4>
        <p>
          Home<br />
          School<br />
          Work
        </p>
      </li>
      <li class="programe-item">
        <h3 class="item-title">3 семестр</h3>
        <h4 class="item-title-h4">— Grammar</h4>
        <p>
          Modal verbs <br />
          Infinitive <br />
          Gerund <br />
          Participle: 1, 2 <br />
        </p>
        <h4 class="item-title-h4">— Vocabulary</h4>
        <p>
          Travel & Tourism <br />
          Culture & Free Time <br />
          Sport <br />
        </p>
      </li>
      <li class="programe-item">
        <h3 class="item-title">4 семестр</h3>
        <h4 class="item-title-h4">— Grammar</h4>
        <p>
          Clauses: Conditional and Wishes <br />
          Direct / Reported speech <br />
          Preposition <br />
          Conjunction <br />
          Numeral <br />
        </p>
        <h4 class="item-title-h4">— Vocabulary</h4>
        <p>
          Healthy Living <br />
          Nature & Environment <br />
          Money <br />
        </p>
        <h4 class="item-title-h4">— Writing</h4>
        <p>Formal Letter</p>
      </li>

      <li class="programe-item">
        <h3 class="item-title">5 семестр</h3>
        <h4 class="item-title-h4">—</h4>
        <p>
          Revision <br />
          Tests
        </p>
      </li>
    </ul>
<!-- <picture>
<source srcset="./images/lesson-mobile.jpg 1x,
./images/lesson-mobile@2x.jpg 2x " 
type="image/jpg"
media="(min-width: 768px)">
<img
                src="./images/lesson-mobile.jpg "
                alt="Чем занимаемся"
                aria-label="Картинка чем мы занимаемся"
                width="116"
              />
</picture> -->



    

  </div>



  <div class="benefits">
    <h2 class="benefits-title">Почему нас <br> выбирают</h2>
    <ul class="benefits-list list">
      <li class="benefits-item">
        <h4 class="benefits-item-title" >— 01</h4>
        <p>Обучение в малых командах</p>
      </li>
      <li class="benefits-item">
        <h4 class="benefits-item-title">— 02</h4>
        <p>Визуализированные конспекты</p>
      </li>
      <li class="benefits-item">
        <h4 class="benefits-item-title">— 03</h4>
        <p>Каждое занятие имеет цель и конкретный результат</p>
      </li>
      <li class="benefits-item">
        <h4 class="benefits-item-title">— 04</h4>
        <p>Реальные результаты преподавателя</p>
      </li>
      <li class="benefits-item">
        <h4 class="benefits-item-title">— 05</h4>
        <p>Прогамма курса соответствует требованиям МОН Украины</p>
      </li>
      <li class="benefits-item">
        <h4 class="benefits-item-title">— 06</h4>
        <p>Набор команд по уровням знаний</p>
      </li>
    </ul>
  </div>
</section>