<!-- ФУТЕР -->
<footer class="container">
  <div class="footer-general container">
    <div class="">
      <h2 class="footer-title">
        Регистрация на <span class="color-accent">бесплатную</span> телефонную
        <span class="color-accent">консультацию</span> по нюансам ВНО по
        английскому языку
      </h2>
    </div>
    <div class="">
      <h3 class="footer-registration">
        Оставь заявку на участие в
        <span class="color-accent">бесплатном занятии.</span> С вами свяжется
        консультант и ответит на вопросы.
      </h3>
    </div>
    <form action="#" class="contact-form">
      <div class="modal-form-wrapper">
        <input
          type="text"
          name="user-name"
          id="user-name"
          class="contact-form-input"
          minlength="2"
          required
          placeholder="Имя*"
        />
        <label for="user-name" class="contact-form-label"></label>
      </div>
      <div class="modal-form-wrapper">
        <input
          type="tel"
          class="contact-form-input"
          name="user-tel"
          id="user-tel"
          required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          placeholder="Телефон*"
        />
        <label for="user-tel" class="contact-form-label"></label>
      </div>
      <button class="btn-footer" type="submit">
        хочу на бесплатное занятие
      </button>
    </form>
  </div>
  <div class="contact-box">
    <ul class="contact-list">
      <li class="contact-list-item">
        <a class="logo" href="./index.html" aria-label="Логотип">
          <picture class="team-photo img">
            <source
              srcset="./image/logo84.jpg 320w, ./image/logo84@2x.jpg 640w"
              media="(max-width: 767px)"
              sizes="(max-width: 767px) 320px, 90vw, 100vw"
            />
            <source
              srcset="./image/logo128.jpg 768w, ./image/logo128@2x.jpg 1536w"
              media="(min-width: 768px)"
              sizes="(min-width: 768px) 768px, 
                (min-width: 800px) 90vw, 100vw"
            />

            <img src="./images/logo-default.jpg" alt="Логотип" />
          </picture>
        </a>
      </li>
      <li class="contact-list-item">
        <a class="contact-tel" href="tel:+38 (000) 000 00 00">
          <svg class="icon-phone" width="20" height="19">
            <use href="./image/sprite.svg#phone"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
      <li class="contact-list-item">
        <a class="sign-instagram" href="">
          <img src="./image/instagram.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
  <div class="copyright-box">
    <span class="copyright">@ Все права защищены, 2019</span>
  </div>
</footer>
