<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>

<section class="teacher" id="teacher-anchor">
  <div class="elena-moreva container">
    <h2 class="profession">Преподаватель</h2>
    <div class="teacher-main-info">
        <img class="teacher-photo" src="../images/teacher-mobile.jpg" />
          <div class="teacher-knowlege-info">
        <h3 class="teacher-name-surname">Елена Морева</h3>
        <ul class="teacher-experience">
          <li class="experience-item">
            Опыт подготовки учеников к ВНО - 6000 лет
          </li>
          <li class="experience-item">
            Собственный результат сдачи ВНО - 197 баллов 2 года подряд
          </li>
          <li class="experience-item">
            Сдала на отлично международный аналог ВНО - Кембриджский PET
            (Preliminary English Test)
          </li>
        </ul>
        <ul class="teacher-education">
          <li class="education-received">
            Высшее образование получила в Институте международных отношений НАУ
            по специальности переводчик-аналитик.
          </li>
          <li class="education-received">
            В свободное время проходит курсы от лучших университетов мира по
            эффективному преподаванию и методикам написания сочинений.
          </li>
          <li class="education-received">
            В числе пройденных: English Grammar and Essay Writing (Berkeley),
            English Grammar&Style (The University of Queesland), How to Write an
            Essay (Berkeley), Academic and Business Writing (Berkeley), The Art
            of Teaching (GEMS education), Powerful Tools for Teaching and
            Learning (University of Houston).
          </li>
        </ul>
        <a class="teacher-certificate" href="#" target="_blank"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>

<div class="warranty container">
<h2 class="warranty-header">Мы гарантируем</h2>
  <ul class="warranty-list">
      <li class="warranty-item">
        Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
        тестировании. Иначе мы вернем деньги.<span class="warranty-attention"
          >*</span
        >
      </li>
      <li class="warranty-item">
        Ты научишься писать сочинения минимум на 10 баллов из 14.<span
          class="warranty-attention"
        >
          В то время как 20% учеников получили за сочинение 0.</span
        >
      </li>
      <li class="warranty-item">
        Ты будешь заниматься в своем районе. Мы выберем место проведения занятий
        после формирования команд.
      </li>
      <li class="warranty-item">
        Команды будут сформированы, исходя из начального уровня учеников. Мы
        учитываем особенности каждого ученика.
      </li>
    </ul>
  </section>
</div>


<div class="container container-color">
    <div class="flex-box">
        <h2 class="title-teacher">Отзывы выпускников</h2>
    </div>
    <div class="section-color container-arrow">
        <div class="container-teacher flex-box img-size">
            <img class="" src="../images/tonya.png" alt="фото девушки" width="90px">
        </div>
        <div class="container-teacher flex-box item-icon">
            <svg class="svg-icon">
                <<use href='./images/symbol-defs.svg#icon-vk'>/use>
            </svg>
        </div>

    <div class="container-teacher flex-box">
            <h3 class="title-section">Тоня Кучеровская</h3>
        </div>
        <div class="container-teacher flex-box">
            <p class="title-section-text">Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
        </div>
        <div class="container-teacher flex-box">
            <p class="title-section-text-bla">За короткий час занять з Оленою я опанувала граматику 
                і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, 
                що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала 
                моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи 
                страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... 
                <span class="text-color">Читать дальше</span></p>
        </div>
    </div>

     