<section class="solut-section">
    <div class="solut-conteiner">
        <h1 class="solut-title">
            Главные проблемы учеников на English ВНО, которые мы
            <span class="text-accent">помогаем</span> решить
        </h1>
    </div>
    <ul class="list solut">
    <li class="solut-item">
      01
      <h2 class="solut-name">Название грамматики</h2>
    </li>
    <li class="solut-item">
      02
      <h2 class="solut-name">Неумение вомпринимать устную английскую речь</h2>
    </li>
    <li class="solut-item">
      03
      <h2 class="solut-name">Скупой словарный запас для написани сочинения</h2>
    </li>
    <li class="solut-item">
      04
      <h2 class="solut-name">Подготовка в одиночку</h2>
    </li>
    <li class="solut-item">
      05
      <h2 class="solut-name">Отсутствие единого ресурса знаний</h2>
    </li>
    <li class="solut-item">
      06
      <h2 class="solut-name">Недостаточно самоорганизации и лень</h2>
    </li class="solut-item">
  </ul>
</section>
