.solut-section {
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat;
}
.solut-conteiner {
  position: relative;

  padding-left: 20px;
  padding-bottom: 367px;
  background-color: $title-text-color;
  color: $white-text-color;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
}

.list.solut {
  background-color: $white-text-color;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: $title-text-color;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 14px;
}
ul.list.solut {
  position: absolute;
  max-width: 280px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
